<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="/output.css" />
</head>
<body class="bg-black">
    <div class="min-h-screen flex flex-col items-center justify-center">
      <header>
        <h1 class="text-indigo-400 text-xl bg-gray-700 rounded-md p-2 mb-4 font-bold">
          Welcome to Round 2 of AI CODE CONSPIRACY
        </h1>
      </header>
      <main>
        <div class="flex ">
          <img src="../image1.png" alt="img1" class="h-[300px] m-2">
          <img src="../image2.png" alt="" class="h-[300px] m-2">
        </div>
      </main>
    </div>
</body>
</html>