<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
</head>
<body>
    <div>
      <header>
        <h1>
          Welcome to Round 2 of AI CODE CONSPIRACY
        </h1>
      </header>
      <main>
        <div>
          <img src="../image1.png" alt="img1">
          <img src="../image2.png" alt="">
        </div>
      </main>
    </div>
</body>
</html>