<%- include('./partials/gameHeader') %>
<p>
  def function9(param):<br />
  &emsp; x = binascii.hexlify(param.encode()).decode()<br />
  &emsp; noise = x[::-1] # Fake step<br />
  &emsp; return x<br />
</p>
        <div>
          <form>
            <input type="text" placeholder="Enter the secret code here:" name="secretCode" required>
            <input type="hidden" name="codeId" value="9">
            <input type="submit" value="Submit">
          </form>
        </div>
      </main>
    </div>
  </body>
</html>
