<%- include('./partials/gameHeader') %> 
<p>
  def function2(param):<br />
    &emsp; junk = ''.join(random.choices(string.ascii_letters, k=10))  # Distraction<br />
    &emsp; reverse_code = param[::-1]<br />
    &emsp; obf = list(reverse_code)<br />
    &emsp; new_code = obf[10]  # IndexError if param too short<br />
    &emsp; return hashlib.md5(new_code.encode()).hexdigest()<br />
</p>
        <div>
          <form>
            <input type="text" placeholder="Enter the secret code here:" name="secretCode" required>
            <input type="hidden" name="codeId" value="2">
            <input type="submit" value="Submit">
          </form>
        </div>
      </main>
    </div>
  </body>
</html>