<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="/output.css">
</head>
<body class="bg-black">
    <div>
      <header>
        <h1>
          Rules
        </h1>
      </header>
      <main >
        <img src="/ase-logo.jpg" alt="ASE Club logo" class="absolute top-0 left-0 w-24 h-auto mx-3">
        <div class="text-white m-5 mt-16 flex flex-col justify-center ">
          <p class="font-bold text-3xl text-indigo-400 mb-4"> Here are the rules for this Event </p>
          <ul class="text-white ml-10">
            <li class="">
              FIRST ROUND: 
              <li>
                Participants have to debug a series of 10 codes and each code is interlinked to each other.
              </li> 
              <li>
                One must debug and run the code on their local computer with the first code snippet's parameter as "AICodeConspiracy".
              </li> 
              <li>
                On the sucessfull execution of the last code you will be automatically directed to the second round.
              </li>
            </li>
            <li class="">
              SECOND ROUND: 
            </li>
            <li class="">
              THIRD ROUND:  
            </li>
          </ul>
        </div>
      </main>
      
    </div>
</body>
</html>