<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
</head>
<body>
    <div>
      <header>
        <h1>
          Rules
        </h1>
      </header>
      <main>
        <div>
          <p> Here are the rules for this Event </p>
          <ul>
            <li>
              first round: 
            </li>
            <li>
              second round: 
            </li>
            <li>
              third round: 
            </li>
          </ul>
        </div>
      </main>
      
    </div>
</body>
</html>